.Bestelldetails {
  position: relative;
  width: 100vw;
  background: #ebebeb;
}

.Bestelldetails .Bestelldetails__container {
  position: relative;
  background: #ffffff;
  width: 100vw;
  padding: 20px;
  margin-bottom: 7px;
}

.Bestelldetails .Bestelldetails__container:last-of-type {
  margin-bottom: 0;
}

.Bestelldetails .Bestelldetails__container button:first-of-type {
  margin: 10px 0;
}

.Bestelldetails .Bestelldetails__container .news-status {
  font-size: 11px;
  text-align: center;
  margin: 5px 0;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__nav {
  position: absolute;
  top: 20px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__nav .arrow {
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__nav .small {
  font-size: 10px;
}

.Bestelldetails .Bestelldetails__container .title {
  text-align: center;
  padding-bottom: 20px;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__info {
  margin: 5px 0;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__info p {
  text-transform: capitalize;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__infoRow {
  border-bottom: 1px solid #acada8;
  padding: 10px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 1fr 30%;
      grid-template-columns: 15% 1fr 30%;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__infoRow * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__infoRow.two {
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__infoRow img {
  width: 20px;
  height: 20px;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__infoRow .last {
  text-align: end;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__benachrichtigungen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__benachrichtigungen .Bestelldetails__switch {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 34px;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__benachrichtigungen .Bestelldetails__switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background-color: #acada8;
  -webkit-transition: .4s;
  transition: .4s;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__benachrichtigungen .Bestelldetails__switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__benachrichtigungen .Bestelldetails__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__benachrichtigungen .Bestelldetails__switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #74c3ae;
          box-shadow: 0 0 1px #74c3ae;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__benachrichtigungen .Bestelldetails__switch input:checked + .slider {
  background-color: #74c3ae;
}

.Bestelldetails .Bestelldetails__container .Bestelldetails__benachrichtigungen .Bestelldetails__switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.Bestelldetails .Popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 75vw;
  height: 75vw;
  background: #ffffff;
  padding: 60px 20px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Bestelldetails .Popup.hidden {
  display: none;
}

.Bestelldetails .Popup .closingIcon {
  position: absolute;
  top: calc(50% - 35vw);
  right: calc(50% - 35vw);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.Bestelldetails .Popup .Popup__option {
  margin: 7px 0;
}

.Bestelldetails .Popup .Popup__option input {
  margin-right: 10px;
}

.Bestelldetails .Popup input[type=text], .Bestelldetails .Popup input[type=email] {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 5px;
}

.Bestelldetails .Popup input[type=text]:focus, .Bestelldetails .Popup input[type=email]:focus {
  outline: none;
  border: 2px solid #3c2314;
}
/*# sourceMappingURL=Bestelldetails.css.map */