@import "../../variables.scss";

.Header {
    background: $orange;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    z-index: 1000;
    img {
        height: 35px;
        object-fit: contain;
    }
}