@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;300;500&display=swap');
@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    overflow-x: hidden;
    color: $orange;
}

body {
    padding-top: 80px;
}

.grey {
    color: $grey;
}

.green {
    color: $green;
}

.orange {
    color: $orange;
}

.red {
    color: $red;
}

.title {
    font-size: 24px;
    text-transform: capitalize;
}

.small {
    font-size: 13px;
}

button {
    padding: 10px 20px;
    text-transform: capitalize;
    background: #ffffff;
    border: 1px solid $orange;
    color: $orange;
    cursor: pointer;
    width: 100%;
    &.highlight-btn {
        background: $orange;
        color: #ffffff;
    }
    &:active {
        transform: scale(.85);
    }
}
